<template>
    <div class="main">
        <img class="side-img" src="../../assets/img/create-account.png"/>
        <form action="" class="form">
            <h2>Criar Conta</h2>
            <form-input Itype="text" Iname="Nome"/>
            <form-input Itype="email" Iname="Email"/>
            <form-input Itype="password" Iname="Senha"/>
            <form-input Itype="password" Iname="Confirmar Senha"/>
            <form-btn>Criar</form-btn>
        </form>
    </div>
</template>
<script>
import FormInput from '../shared/form/FormInput';
import FormBtn from '../shared/form/FormBtn';

export default {
    components: {
        FormInput,
        FormBtn
    },
    data(){
        return {
            account: {}
        }
    }
}
</script>
<style scoped>
    .main{
        display: flex;
        justify-content: space-between;
    }
    .side-img{
        width: 50%;
        display: flex;
        align-content: stretch;
    }

    .form{
        padding: 0px 5%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

     @media(max-width: 800px){
        .form{
            width: 90%;
            padding: auto;
            margin: auto;
        }

        .side-img{
            display: none;
        }   
    }

</style>