<template>
    <div class="main">
        <form @submit.prevent="create" class="form">
            <h2>Login</h2>
            <form-input Itype="email" Iname="Email" v-model="login.email"/>
            <form-input Itype="password" Iname="Senha" v-model="login.password"/>
            <form-btn>Entrar</form-btn>
        </form>
    </div>
</template>
<script>
import FormInput from '../shared/form/FormInput';
import FormBtn from '../shared/form/FormBtn';
import LoginService from '../../services/LoginService'

export default {
    components: {
        FormInput,
        FormBtn
    },
    data(){
        return {
            login: {}
        }
    },
    created(){
        this.loginService = new LoginService();
    },
    methods: {
        create(){
            this.loginService.create(this.login)
        }
    }
    
}
</script>
<style scoped>
    .main{
        background-image: url("../../assets/img/login-screen.png");
        background-repeat: no-repeat;
        background-position:  100%; 
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;    
        display: flex;
        color: white;
        justify-content: center;
    }

    .form{
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media(max-width: 800px){
        .main{
            background-position:  60%;  
        }
        .form{
            width: 90%;
        }
    }
</style>