<template>
    <button type="submit" class="btn">
        <slot></slot>
    </button>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    .btn{
        color: white;
        background-color: #ffba05;
        border: 1px solid #ffba05;
        border-radius: 5px;
        padding: 10px;
    }
    .btn:hover{
        color:  #524939;
    }
</style>