<template>
    <div class="form-group">
        <label>{{ Iname }}</label>
        <input 
            :type="Itype"
            :name="Iname"
            :placeholder="Iname"
            @input="$emit('input', $event.target.value)"
            :value="value"
        />
    </div>
</template>
<script>
export default {
    props:{
        Itype:{
            type: String,
            required: true
        },
        Iname:{
            type: String,
            required: true
        },
        value: {}
    }
}
</script>
<style scoped>
    .form-group{
        display: flex;
        flex-direction: column;
    }
    input{
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px 20px;
        margin-bottom: 10px;

    }
    input:focus{
        border-color: #524939;
        background-color: #eeeeee
    }

</style>