<template>
    <header>
        <router-link :to="{ name: 'dogs-dashboard'}" class="logo">
            <img class="logo-img" :src="require('../../../assets/img/logo.png')" alt="">
            <h1 class="logo-title">Alimentacão</h1>
        </router-link>
        <div class="teste">
            <div @click="showMenu" class="user">
                <h2 class="user-name">{{ user.name }}</h2>
                <img class="user-drop-arrow" :src="require('../../../assets/img/drop-arrow.png')" alt="">
            </div>
            <drop-menu v-show="dropMenu"/>
        </div>
    </header>    
</template>
<script>
import DropMenu from './DropMenu';

export default {
    components: {
        DropMenu
    },
    data(){
        return{
            user: JSON.parse(localStorage.getItem('user')),
            dropMenu: false
        }
    },
    methods: {
        showMenu(){
            if(this.dropMenu){
                this.dropMenu = false;
                return;
            }
            this.dropMenu = true;
        }

    }
    
}
</script>
<style scoped>
    header{
        background-color: #ffba05;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    @font-face {
        font-family: Pacifico-Regular;
        src: url('../../../assets/fonts/Pacifico-Regular.ttf');
    }

    .logo{
        color: #524939;
        text-decoration: none;
        font-family: Pacifico-Regular;
        display: flex;
        align-items: center;
    }

    .logo-img{
        width: 60px;
    }

    .user{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }

    .user-name{
        font-family: Pacifico-Regular;
        font-size: 1.5em;
        margin-right: 10px;
        color: #524939;
    }

    .user-drop-arrow{
        width: 2%;
    }

    .teste{
        display: flex;
        flex-direction: column;
        align-items: end;
    }

</style>