<template>
    <nav class="main">
        <router-link :to="{ name: 'login'}" class="nav-group">
            <img class="icon" :src="require('../../../assets/img/user-icon.png')" alt="" srcset="">
            <p>Perfil</p>
        </router-link>
        <router-link :to="{ name: 'login'}" class="nav-group">
            <img class="icon" :src="require('../../../assets/img/logout.png')" alt="" srcset="">
            <p>Logout</p>
        </router-link>
    </nav>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    .main{
        position: absolute;
        width: 20%;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 5px;
        box-shadow: 5px 10px 18px #888888;
    }

    .nav-group{
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px 25px;
        text-decoration: none;
        color: #524939;
    }

    .nav-group:hover{
        opacity: 0.8;
    }

    .icon{
        width: 30px;
        margin-right: 10%;
    }

    p{
        margin-bottom: 0px;
    }

</style>