<template>
    <app-header/>
</template>
<script>
import AppHeader from '../shared/app-header/AppHeader';

export default {
    components: {
        AppHeader
    }
}
</script>
<style scoped>

</style>